/* RESET */
* {
  margin: 0;
}

/* COMMON */
.container {
  width: 1024px;
  margin: auto;
}

.highlight {
  background-color: yellow;
}
/* FINE COMMON */

/* HEADER */
header {
  background-color: lightblue;
  background-image: url("../img/pattern.png");
  background-size: 350px;
}

.logo {
  height: 50px;
  margin-top: 30px;
}
/* FINE HEADER */

/* MAIN */
main {
  margin-top: 20px;
}

h1 {
  font-size: 38px;
  line-height: 37px;
}

.author {
  color: gray;
  font-size: 20px;
}

.author span {
  color: lightblue;
}

.date {
  color: gray;
  font-size: 13px;
}

.photo {
  margin-top: 20px;
}
.caption {
  font-size: 10px;
}

.article-body {
  margin-top: 20px;
}

.list {
  margin-top: 20px;
}

table {
  border-spacing: 0;
  margin-top: 20px;
}
table thead {
  background-color: blue;
  color: white;
}
table th {
  text-align: left;
}
table .text {
  width: 50%;
}
table .odd {
  background-color: cyan;
}
/* FINE MAIN */

/* FOOTER */
footer {
  margin-top: 20px;
}

.back-img {
  color: white;
  width: 300px;
  height: 250px;
  font-size: 20px;
  margin-top: 20px;
  background-size: cover;
}

#computer {
  background-image: url("../img/monitor.jpg");
}
#graph {
  background-image: url("../img/graph.jpg");
}
/* FINE FOOTER */
